.exchange-content {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    position: absolute;
    top: 20%;
    left: 40%;

    .currency-selectors {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .exchange-header {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        text-align: center;
        width: 365px;
        font-size: 40px;
        margin-left: -80px;
        margin-bottom: 50px;
    }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
  }

}
